/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2018, 3:23:29 PM
    Author     : AMIT_2
*/
@font-face {
    font-family: 'sanf';
    src: url('../fonts/SF-Pro-Display-Regular.otf');
    font-style:normal;
}
@font-face {
    font-family: 'sanf bold';
    src: url('../fonts/SF-Pro-Display-Bold.otf');
    font-weight:900 !important;
}
body {
    overflow: hidden;
}
h2 {
    font-family: 'sanf bold' !important;
    font-size: 45px !important;
}
label {
    color: #333333 !important;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'sanf';
}
:focus {
    outline: none !important;
}
input, select, textarea {
    border-color: #999966 !important;
}
h2 {
    margin-bottom: 25px !important; 
}
::-webkit-input-placeholder {
}
:-moz-placeholder {
}
::-moz-placeholder {
}
:-ms-input-placeholder {  
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 26px !important;
}
select::-ms-expand {
    display: none;
}
ul li {
    list-style: none;
}
.booking-form {
    padding: 30px;
}
@media (min-width: 1200px){
    .container {
        max-width: 90% !important;
        max-height: 100% !important;
    }
}
.container {
    padding: 0 !important;
    box-shadow: 0px 6px 12px rgba(51, 51, 51, 0.3);
    -webkit-box-shadow: 0px 6px 12px rgba(51, 51, 51, 0.3);
    -moz-box-shadow: 0px 6px 12px rgba(51, 51, 51, 0.3);
}

.select-restaurant {
    text-align: right;
    margin-bottom: 30px;
    padding-right: 0 !important;
}
.select-restaurant > div{
    width: 50%;
    margin-left: auto;
    padding-left:65px;
    padding-right: 50px;
}
#restaurant {
    color: #3366ff;
    width: 100%;
}
.booking {
    /*background: url('../images/Background.jpg');*/
    /*background-size: cover;*/
    height: auto;
    position:relative;
}
.booking > .background > img {
    width: 100%;
}
.booking .container {
    background: #fff8dc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:#333333;
    min-height: 678px;

}
.booking-form {
    width: 100%;
    height: 100%;
}
body > div.booking > div > div > form > div:nth-child(2) > div.col-xl-6:nth-child(1) {
    padding: 0 65px 0 50px;
}
body > div.booking > div > div > form > div:nth-child(2) > div.col-xl-6:nth-child(2) {
    padding: 0 50px 0 65px;
}
.booking-control {
    border:none;
    background: transparent;
    border-bottom: 1px solid #999966;
    padding: 10px 0;
    color:#333333;
}
.text-area {
    border:1px solid #000;
    border-radius: 10px;
    overflow:hidden;
    margin-top: 45px;
    width: 100%;
    padding: 15px;
    height: 210px;
}
.text-control {
    width: 100%;
    padding-left: 10px;
}

.menu-food {
    flex: 0 0 40%;
    width: 40%;
    -ms-flexbox: 0 0 40%;
    padding: 0 15px;
}
.menu-food-selected{
    flex: 0 0 60%;
    width: 60%;
    -ms-flexbox: 0 0 60%;
    padding: 0 15px;
}
label {
    margin-right: 50px;
}
.table > .row > div > label:nth-child(1) {
    width: 40px;
}
.select-control {
    width: 100px;
    height:45px;
}
.select-control {
    /*padding-left: 35px;*/
    /*text-align: left !important;*/
    /*text-align-last: left !important; Không support trên SAfari - Firefox - Edge*/
    text-align: center;
    text-align-last: center;
}
select option:hover {
    font-weight: bold !important;
}
.form-group > .row{
    margin-bottom: 10px;
}
.menu-food {
    list-style: none;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu-food li.food{
    cursor: pointer;
    line-height: 30px;
    border-bottom: 1px solid #dadab3;
}
.menu-food-selected {
    position:relative;
    max-height: 200px;
}
.btn-send {
    cursor: pointer;
    border-radius: 50px;
    background: transparent;
    padding: 5px 30px;
    border: 1px solid #333333;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
.btn-send:hover {
    background: #3366ff;
    border: none;
    color: #FFF;
}
.select-arrow {
    position: relative;
    margin-right: 0;
    cursor: pointer;
    margin-bottom: 0;
}
.select-arrow:before {
    content: "";
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border-top: 8px solid #999966;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 18px;
    right: 10px;
    position: absolute;
}
.select-restaurant .select-arrow:before {
    right: 60px !important;
}
.table .col-xl-12 {
    padding-left: 25px;
}
select[name="restaurant"] {
    padding-left: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #d9d3af;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #d9d4ae;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #866922;
}
.menu-food-selected > ul{
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
}
.menu-food-selected > ul > li {
    position: relative;
    padding:0px 10px;
    border-radius: 20px;
    border: 1px solid #bec9e7;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}
.exit-x {
    display: inline;
    cursor: pointer;
    color: #3366ff;
    margin-left: 10px;
}
.menu-food, .menu-food-selected {
    color: #333333;
    font-size: 13px;
}
.menu-food-label {
    height: 45px;
    line-height: 45px;
}
/*.modal-dialog {
    background: #FFF;
    background: #fff8dc;
    border-radius: 5px;
}*/
.modal-content {
    color: #33333 !important;
}
.modal-content {
    /*background: #FFF;*/
    background-color: #fff8dc !important;
    border-radius: 5px;
}
.modal-header > button{
    position:absolute;
    top:5px;
    right:5px;
}
.menu-food-selected > ul > li >button{
    border:none;
    background: none;
}
.form-group.table {
    position: relative;
}
.form-group.table .se-pre-con {
    display: none;
    position: absolute !important;
    background: url("../images/Preloader_2.gif") center no-repeat #fff8dc !important;
}
.form-group.table .no-js #loader {
    display: none;
}
.form-group.table .js #loader { display: block; position: relative; left: 100px; top: 0; }
#confirmModal .modal-dialog {
    max-width: 700px;
}
#confirmModal .modal-title {
    margin-left: auto; margin-right: auto;
}
#confirmModal label {
    margin-right: 0 !important;
}
#confirmModal label.col-xl-6{
    font-weight: bold;
}
#confirmModal label.col-xl-8 {
    font-weight: bold;
}
@media screen and (max-width: 1280px){
    body{overflow: scroll;}
    .booking {
        position: static;
    }
    .booking .container {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1152px){
    body {
        overflow:scroll;
    }

    .booking .container {
        top: 5%;
        transform: translateY(-5%);
        transform: translateX(-50%);
    }
    .booking > .background > img {
        width: auto;
    }
    .booking {
        overflow: hidden;
    }
}
@media screen and (max-width:640px){
    .select-restaurant > div {
        padding-left: 35px;
        width: 100%;
    }
    .form-group.table > .row > .col-xl-12 label:nth-child(1){
        margin-right: 0;
        width: 100%;
    } 
    .form-group.table > .row > .col-xl-12 label {
        margin-bottom: .5rem;
    }
}
@media screen and (max-width: 480px){
    .background {
        display: none;
    }
    .booking .container {
        width: 100%;
        position: static;
        top : 0;
        left: 0;
        transform: translate(0, 0);
    }
    .booking-form {
        padding: 30px 15px;
    }
    .menu-food, .menu-food-selected {
        width: 100%;
        flex: 0 0 100%;
        overflow-y: scroll;
        height: 200px;
    }
    .btn-send {
        right: 15px;
    }
    .select-restaurant {
        padding: 0 15px !important;}
    .select-restaurant > div {
        padding: 0;boo
    }
    h2 {
        text-align: center;
    }
}
@media screen and (max-height: 720px){
    body {
        overflow: scroll;
    }
}